<!DOCTYPE html>
<html>
    <head>
        <title>Material Test</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- import Material Icons from Google Fonts -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="bundle.css" />
    </head>
    <body>
        {% include "src/components/atoms/TextField/_text-field.njk" %}
        <script src="bundle.js" async></script>
    </body>
</html>
